<launch>
    <include file="$(find ros_beginner_tutorials)/launch/start_tf_demo_py.launch" />
    <node name="turtle_pose_stamped_publisher" pkg="ros_beginner_tutorials" type="turtle_tf_message_broadcaster.py" respawn="false" output="screen" />
    <node name="turtle_tf_message_filter" pkg="ros_beginner_tutorials" type="turtle_tf_message_filter" respawn="false" output="screen" />
</launch>
